/*  
delaration block:

selector{
    property: value;
    property: value;
}
*/

body{
    background-color: blue;
    color: whitesmoke;
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    margin-right: 200px;
    width: 400px;
}

h1{
    text-align: center;
}